<%- include('includes/header') %>

    <link rel="stylesheet" href="/css/login.css" type="text/css">

    <body>
        <form onsubmit="return validateSignUpForm()" action="/resto/sign-up" class="login_container"
            enctype="multipart/form-data" method="POST">
            <!-- it goes to router BSSR and then rest contr -->

            <!-- multipart/form-data = file upload, in the same form as other text data. Separate pieces, allowing the server to process each part independently.

     text/plain = simple unformatted text without any encoding or formatting. Not popular

     application/x-www-form-urlencoded = encode form data in HTTP requests. Key-value pairs separated by an '&' symbol, with keys and values separated by an '=' symbol -->
            <div class="login_frame" style="width: 650px; height: 730px">

                <div class="login_top">
                    <span>Sign in</span>
                    <div>
                        Go to <a href="/resto" style="color: #6440fb">Home</a> page.
                    </div>
                    <p>
                        Already have <a href="/resto/login" style="color: #6440fb">an account</a>?
                    </p>
                </div>

                <div class="sign_input_frame">
                    <div class="sign_up_frame">
                        <label for="">User name:</label>
                        <input type="text" name="mb_nick" class="mb_nick" placeholder="Input your name" value=""
                            required />
                    </div>

                    <div class="sign_up_frame">
                        <label for="">Phone number:</label>
                        <input type="text" name="mb_phone" class="mb_phone" placeholder="Input your phone number"
                            value="" required />
                    </div>
                </div>


                <div class="sign_input_frame">
                    <div class="sign_up_frame">
                        <label for="">Password:</label>
                        <input type="password" name="mb_password" class="mb_password" placeholder="Create password"
                            value="" required />
                    </div>

                    <div class="sign_up_frame">
                        <label for="">Confirm your password:</label>
                        <input type="password" name="mb_confirm_password" class="mb_confirm_password"
                            placeholder="Input your password again" value="" required />
                    </div>
                </div>


                <div class="login_input_frame">
                    <div class="media-frame">
                        <img src="/images/default_resto.jpeg" class="upload_img_frame">
                        <div class="upload_container">
                            <span class="media_text">Restaurant image</span>
                            <div class="filebox bs3-primary preview-image">
                                <input class="upload-name" value="Choose image" disabled="disabled">
                                <label for="input_file">Upload image</label>
                                <input type="file" id="input_file" name="restaurant_img" placeholder="Choose image"
                                    value="" class="upload-hidden form-control-file restaurant_img" />
                            </div>
                            <p class="thumbnail_desc">Upload your restaurant image. <br>Recommended extentions: .jpg,
                                .jpeg, .png <br>No text on image is allowed!</p>
                        </div>
                    </div>
                </div>
                <button class="login_btn btn" name="signup" type="submit">Sign up</button>
            </div>
        </form>
    </body>

    <script>

        $(function () {
            let fileTarget = $('.filebox .upload-hidden');
            let filename = "";
            fileTarget.on('change', function () {
                if (window.FileReader) {
                    const uploading_file = $(this)[0].files[0];
                    const fileType = uploading_file['type'];
                    const validImageTypes = ['image/jpg', 'image/jpeg', 'image/png'];

                    if (!validImageTypes.includes(fileType)) {
                        alert('Please, use only recommended extentions: jpg, jpeg or png')
                    } else {
                        if (uploading_file) {
                            console.log(URL.createObjectURL(uploading_file));
                            $('.upload_img_frame').attr('src', URL.createObjectURL(uploading_file)).addClass('succsess') //64 line upload_img
                        }
                        filename = uploading_file.name; //returns the name of the file
                    }
                }
                $(this).siblings('.upload-name').val(filename); //gets valueof input  or sets new value
            });
        }); //format pic



        function validateSignUpForm() {
            const mb_nick = $(".mb_nick").val();
            const mb_phone = $(".mb_phone").val();
            const mb_password = $(".mb_password").val();
            const mb_confirm_password = $(".mb_confirm_password").val();
            const restaurant_img = $('.restaurant_img').get(0).files[0] ?? null; // nullish anyway


            if (mb_nick == "" || mb_phone == "" || mb_password == "" || mb_confirm_password == "") {
                alert('Please fill in all the blanks!')
                return false
            } else if (mb_password !== mb_confirm_password) {
                alert('Please check your password!')
                return false
            }

            if (!restaurant_img) {
                alert('Please upload an image!')
                return false

            }
            return true;    // if true, it works. if false it test // doesn't send request to backend if falsy
        }
    </script>

    <%- include('includes/footer') %>


        // if there's no errror and it posts, then it goes to sign up (line 6)